{{#with data}}

  <div class='post'>
    <strong class='post-title'>{{title}}</strong>
    <div class='post-info'>{{date}}by
      <span class='post-autor'>{{author}}</span>
    </div>
    <p class='post-description'>{{description}}</p>
    <a href='#'>Continue reading</a>
  </div>

{{/with}}